<div class="flatpickr">
    <input type="text" placeholder="Select Date.." data-input> <!-- input is mandatory -->

    <a class="input-button" title="toggle" data-toggle>
        <i class="icon-calendar"></i>
    </a>

    <a class="input-button" title="clear" data-clear>
        <i class="icon-close"></i>
    </a>
</div>

{{!-- flexberry-simpledatetime
    type="date"
    placeholder=(t 'components.flexberry-datepicker.placeholder')
    readonly=readonly
    value=model.date
    class=(if (v-get validationObject "date" "isInvalid") "error")
    data-test-i-i-s-book-club-2-1-meeting-e-date=true --}}